---
layout: default
---

<!-- <style>
   .center-cropped {
     object-fit: cover; /* Do not scale the image */
     object-position: center; /* Center the image within the element */
   }
</style> -->

<div class='container'>
    <header class="masthead text-center">

		<!-- <img class='img-responsive center-block' src="/images/logo/logo.jpg" width="30%" height="30%" /> -->

			<div class="row justify-content-md-center">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<div class="hovereffect">
		  	    <img class='img-responsive center-block' src="/images/logo/logo.jpg" />
		  	    <div class="tint"></div>
		  	    <div class="hoverinfo"><h4>Neuroscience, neural nets, and nonequilibrium stat mech</h4></div>
			    </div>
			  </div>
				<div class="col-md-4">
				</div>
			</div>

      <p>
	  
      <span style="display: block; margin-bottom: 3em"></span>

      <a href="https://github.com/deweese-lab"><i class="fa fa-github"></i> DeWeeseLab</a>&nbsp;&nbsp;&nbsp;
      <a href="https://twitter.com/DeWeeseLab"><i class="fa fa-twitter"></i> DeWeeseLab</a>&nbsp;&nbsp;&nbsp;
      </p>
        
      <hr>

	  {% include about.html %}
	  
	  <hr>

		
	  {% include recent_work.html %}
	  
	  <hr>
	  
      <span style="display: block; margin-bottom: 3em"></span>

<!-- 	  <button type="button" class="collapsible">Twitter Feed</button>
		<div class="collapse-content">
			<a class="twitter-timeline" href="https://twitter.com/DeWeeseLab" data-widget-id="695051708246941697">Tweets by @DeWeeseLab</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div> -->
		
      <span style="display: block; margin-bottom: 3em"></span>
      <a href="https://redwood.berkeley.edu/">Redwood Center</a> and <a href="https://physics.berkeley.edu/">Physics</a> at UC Berkeley<br>
      <span style="display: block; margin-bottom: 3em"></span>
	  
	  
	  <script src="/js/collapse.js"></script>

    </header>
</div>
