<h3> About the lab </h3>

<p> We are the lab of <a href="{{site.url}}/people/mike_deweese/index.html">Michael DeWeese</a> at UC Berkeley. Our interests fall into three rough categories: </p>

<ol>
  <b> <li>
  Nonequilibrium statistical mechanics. </b> Understanding and designing biomolecules and molecular-scale machines will ultimately require deep understanding of statistical mechanics far from equilibrium, and recent years have brought major breakthroughs in that direction.
  To that end, we're working on work-energy theorems for active matter and optimal control protocols for fluctuating systems, often bringing in techniques from control theory and Riemannian geometry. Lab members in the statistical physics sector include <a href="{{site.url}}/people/adam_frim/index.html">Adam Frim</a> and <a href="{{site.url}}/people/adrianne_zhong/index.html">Adrianne Zhong</a>.
  </li>
  <b> <li>
  Machine learning theory. </b> Deep neural networks have enabled technological wonders from machine translation to image generation, but, remarkably, nobody has a principled understanding of how they work and what they can do. To fill this gap, we're working on developing first-principles theoretical understanding of neural nets and related machine learning methods, often finding use for tools and concepts from statistical physics. We're also interested in sampling algorithms. Lab members in the ML contingent include <a href="{{site.url}}/people/jamie_simon/index.html">Jamie Simon</a> and <a href="{{site.url}}/people/dhruva_karkada/index.html">Dhruva Karkada</a>.
  </li>
  <b> <li>
  Systems neuroscience. </b> Despite the wealth of neural data acquired in recent years, our real understanding of how the brain works remains rudimentary. To make progress towards this understanding, we develop biologically-plausible algorithms to model sensory processing and other forms of computation. Our theories typically rely on coding principles, such as maximizing sparseness or information flow, similar to familiar concepts from physics like minimizing free energy or maximizing entropy. Our models are designed to clarify the computational roles of different neural populations and to provide specific, falsifiable experimental predictions about the structure and activity patterns in biological neural networks. Lab members in the neuroscience regiment include <a href="{{site.url}}/people/andrew_ligeralde/index.html">Andrew Ligeralde</a> and <a href="{{site.url}}/people/eduardo_sandoval/index.html">Eduardo Sandoval</a>.
  </li>
</ol>
